section#form
	form(method="POST", action="", autocomplete="off", id="lln_form")
		.lnummer
			input(type="text", id="lid", name="l_id", maxlength="6")
			label(for="lid", id="lln_in_label") Leerlingnummer