nav
	#nav-title
		h3 Home
	ul#nav-list
		li.nav-li.active-nav#week
			a Week
		li.nav-li
			a Maandag
		li.nav-li
			a Dinsdag
		li.nav-li
			a Woensdag
		li.nav-li
			a Donderdag
		li.nav-li
			a Vrijdag
	#line-1