section#rooster
	.flex-week.week-view
		.maandag
			h1 Maandag
			include ../_rooster/_rooster-layout.jade
		.dinsdag
			h1 Dinsdag
			include ../_rooster/_rooster-layout.jade
		.woensdag
			h1 Woensdag
			include ../_rooster/_rooster-layout.jade
		.donderdag
			h1 Donderdag
			include ../_rooster/_rooster-layout.jade
		.vrijdag
			h1 Vrijdag
			include ../_rooster/_rooster-layout.jade