<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width,initial-scale=1.0")
	title Rooster (Beta)
	link(rel="stylesheet", href="../build/css/main.css")

body
	include _partials/_nav.jade
	include _partials/_form.jade
	include _partials/_rooster.jade
	include _partials/_overlay.jade
	include _partials/_preloader.jade

	script(src="../bower_components/jquery/dist/jquery.min.js")
	script(src="../bower_components/moment/moment.js")
	script(src="../build/js/dist/date.js")
	script(src="../build/js/ajax.min.js")
	script(src="../build/js/nav.min.js")
	script(src="../build/js/form.min.js")
	script(src="../build/js/lln.min.js")
	script(src="../build/js/koppel.min.js")